<!--The content below is only a placeholder and can be replaced.-->
<!-- Top navbar Starts -->
  <div class="topnav form-group" id="myTopnav">
  <a href="#"><input type="text" class="search" id="iconified" placeholder="&#xF002;  Search By UserName"  [(ngModel)]="searchName" /></a>
   <div class="usname">
    <a href="#" style="margin-top: 2px;padding: 18px;">User Name</a>
    <a href="#news"> <div class="img-rounded profile-img"></div> <i class="fa fa-caret-down"></i></a> 
    </div>
  </div>

<!-- Side Bar -->
  <div class="sidebar">
   <ul> <li *ngFor="let user of people | userFilters: searchName"  
    [class.selected]="user === selectedUser"
    (click)="onSelect(user)">
    <a href="#home" >{{user.name}}</a>
  </li></ul>
  </div>
  <!-- Side Bar Ends -->
<!-- User Profile View -->
  <div class="content" *ngIf="selectedUser">
      <div id="container" class="container">
      
        <div class="user-image">
          <img src={{selectedUser.img}} alt={{selectedUser.name}} />
        </div>
      
        <div class="user-details">        
          <div class="wrapper">
            <button class="button"> SEND MESSAGE! </button>
          </div>
          <span class="hint-star star">
              <app-rating [rating]='selectedUser.rating'></app-rating>
          </span>
        </div>
      </div>
        <div class="userContent">
          <p class=""> {{selectedUser.Description}} </p>
        </div>
         
        <div class="table" >
          <table  *ngFor="let likes of selectedUser.Likes">
            <tr>
              <td>{{likes}}</td>
            </tr>
          </table>
          <table  *ngFor="let likes of selectedUser.Dislikes">
              <tr>
                <td>{{likes}}</td>
              </tr>
            </table>
        </div>        
      </div> 
      <!-- User Profile View Ends -->
      <router-outlet></router-outlet>

